<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>审核资料</title>
	<link rel="stylesheet" type="text/css" href="/skins/new/css/public.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/swiper/swiper-3.4.2.min.css" />
	<link rel="stylesheet" type="text/css" href="/skins/new/css/index.css" />
	<link rel="stylesheet" type="text/css" href="/skins/new/css/invest.css" />
	<script src="/js/new_js/zepto.min.js"></script>
	<script src="/js/new_js/vue.min.js"></script>
	<script type="text/javascript" src="/plugins/swiper/swiper.min.js"></script>
	<script src="/js/new_js/public.js"></script>
	<style>
		.swiper-slide{ height:0px;overflow-y: hidden}
		.swiper-slide-active { height:auto}
	</style>
</head>

<body style="background: #fff">
	<div id="invest" class="invest" v-cloak>
		<div class="audit-top" v-if="auditIndexActive == false">
			<header class="invest-header">
				<span class="back" onClick="javascript :history.back(-1);">
					<img src="/skins/new/images/icon_back.png" alt="">
				</span>
				<h1>审核资料</h1>
			</header>

			<section class="block">
				<ul class="audit-infor">
					<li v-for="(item, index) in data.checkInfoList"
						@click="auditIndexActive = true, setAuditSwiper(index)">
						<img src="/skins/new/images/icon-ziliao.png" alt="">
						<p v-text="item.name"></p>
					</li>
				</ul>
			</section>
		</div>

		<div class="swiper-audit" style="position: relative;">
			<div class="swiper-wrapper">
				<div class="swiper-slide" v-for="item in data.checkInfoList">
					<header class="invest-header" style="padding: 0;">
						<span class="back" @click="auditIndexActive = false">
							<img src="/skins/new/images/icon_back.png" alt="">
						</span>
						<h1 v-text="item.name"></h1>
					</header>
					<img :src="item.url" alt="" style="margin-top: 44px;">
				</div>
			</div>
			<!-- <div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div> -->
		</div>

		<div class="tabs"></div>

	</div>
	<script src="/js/new_js/invest_detail.js"></script>
	<script>
		iv.invest();
	</script>
</body>
</html>