<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <title>2周年狂欢Party，福利盛宴重磅来袭</title>
  <link rel="stylesheet" href="/skins/new/css/public.css" />
  <link rel="stylesheet" href="/src/activity/anniversary/css/base.css" />
  <script src="/js/new_js/zepto.min.js"></script>
  <script src="/js/new_js/public.js"></script>
  <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<script>
  (function (para) {
    var p = para.sdk_url,
      n = para.name,
      w = window,
      d = document,
      s = 'script',
      x = null,
      y = null;
    w['sensorsDataAnalytic201505'] = n;
    w[n] = w[n] || function (a) {
      return function () {
        (w[n]._q = w[n]._q || []).push([a, arguments]);
      }
    };
    var ifs = ['track', 'quick', 'register', 'registerPage', 'registerOnce', 'clearAllRegister', 'trackSignup',
      'trackAbtest', 'setProfile', 'setOnceProfile', 'appendProfile', 'incrementProfile', 'deleteProfile',
      'unsetProfile', 'identify', 'login', 'logout', 'trackLink', 'clearAllRegister', 'getAppStatus'
    ];
    for (var i = 0; i < ifs.length; i++) {
      w[n][ifs[i]] = w[n].call(null, ifs[i]);
    }
    if (!w[n]._t) {
      x = d.createElement(s), y = d.getElementsByTagName(s)[0];
      x.async = 1;
      x.src = p;
      y.parentNode.insertBefore(x, y);
      w[n].para = para;
    }
  })({
    sdk_url: 'https://static.sensorsdata.cn/sdk/1.8.11/sensorsdata.min.js',
    name: 'sa',
    server_url: 'https://data.ekeyfund.com:4006/sa?project=' + Helper.settingPath
  });
  sa.quick('autoTrack');
</script>
<script>
  util.wxShareMain({
    //如果如要debug加添参数debug为true
    title: '2周年狂欢Party，福利盛宴重磅来袭',
    desc: '四重好礼，惊喜不可错过',
    link: Helper.webPath + '/src/activity/anniversary/index.html',
    imgUrl: Helper.webPath + '/src/activity/anniversary/images/share.jpg',
    successEvt: function () {
      window.location.href = '/src/activity/anniversary/index.html?random=' + parseInt(Math.random() * 100000);
    },
    cancelEvt: function () {
      //
    }
  });
</script>
<style type="text/css">
</style>

<body>
  <div id="activity" class="activity">
    <div class="head">
      <img src="/src/activity/anniversary/images/head-img1.jpg" alt="">
      <img src="/src/activity/anniversary/images/head-img2.jpg" alt="">
      <img src="/src/activity/anniversary/images/head-img3.jpg" alt="">
      <a href="javascript:;" @click="isShowRule = true" class="rule-btn">
        <img src="/src/activity/anniversary/images/rule-img.png" alt="" width="50%">
      </a>
    </div>
    <div class="content">
      <div class="title">
        <img src="/src/activity/anniversary/images/zuji-title.png" alt="" width="50%">
      </div>
      <div class="day">
        <img :src="'/src/activity/anniversary/images/day-img' + dayIndex + '.png'" alt="">
        <a href="javascript:;" class="day-btn" @click="punch">
          <img src="/src/activity/anniversary/images/day-zjdk-btn.png" alt="足迹打卡">
        </a>
      </div>
      <div class="card">
        <div>
          <img src="/src/activity/anniversary/images/shiming-card.png" />
          <div class="card-btn" @click="toShiming">
            <img src="/src/activity/anniversary/images/qushiming-btn.png" v-if="shimingStatus == 0" />
            <img src="/src/activity/anniversary/images/lingjifen-btn.png" v-if="shimingStatus == 1" />
            <img src="/src/activity/anniversary/images/yilingqu-btn.png" v-if="shimingStatus == 2" />
            <img src="/src/activity/anniversary/images/yiwancheng-btn.png" v-if="shimingStatus == 3" />
          </div>
        </div>
        <div>
          <img src="/src/activity/anniversary/images/shouchong-card.png" />
          <div class="card-btn" @click="toChongzhi">
            <img src="/src/activity/anniversary/images/quchongzhi-btn.png" v-if="chongzhiStatus == 0" />
            <img src="/src/activity/anniversary/images/lingjifen-btn.png" v-if="chongzhiStatus == 1" />
            <img src="/src/activity/anniversary/images/yilingqu-btn.png" v-if="chongzhiStatus == 2" />
            <img src="/src/activity/anniversary/images/yiwancheng-btn.png" v-if="chongzhiStatus == 3" />
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <img src="/src/activity/anniversary/images/shoutou-card.png" />
          <div class="card-btn" @click="toTouzi">
            <img src="/src/activity/anniversary/images/qutouzi-btn.png" v-if="touziStatus == 0" />
            <img src="/src/activity/anniversary/images/lingjifen-btn.png" v-if="touziStatus == 1" />
            <img src="/src/activity/anniversary/images/yilingqu-btn.png" v-if="touziStatus == 2" />
            <img src="/src/activity/anniversary/images/yiwancheng-btn.png" v-if="touziStatus == 3" />
          </div>
        </div>
        <div>
          <img src="/src/activity/anniversary/images/shoufen-card.png" />
          <div class="card-btn" @click="toFenxiang">
            <img src="/src/activity/anniversary/images/qufenxiang-btn.png" v-if="fenxiangStatus == 0" />
            <img src="/src/activity/anniversary/images/lingjifen-btn.png" v-if="fenxiangStatus == 1" />
            <img src="/src/activity/anniversary/images/yilingqu-btn.png" v-if="fenxiangStatus == 2" />
            <img src="/src/activity/anniversary/images/yiwancheng-btn.png" v-if="fenxiangStatus == 3" />
          </div>
        </div>
      </div>
      <div class="project">
        <a @click="projectLink('http://www.mylinkbuy.com/Mobile/Goods/goodsInfo/id/3816.html', 'index.html')" href="javascript:;">
          <img src="/src/activity/anniversary/images/pro-img1.png" />
          <p>
            <img src="/src/activity/anniversary/images/pro-btn.png" alt="">
          </p>
        </a>
        <a @click="projectLink('http://www.mylinkbuy.com/Mobile/Goods/goodsInfo/id/3812.html', 'index.html')" href="javascript:;">
          <img src="/src/activity/anniversary/images/pro-img2.png" />
          <p>
            <img src="/src/activity/anniversary/images/pro-btn.png" alt="">
          </p>
        </a>
      </div>
      <div class="copyright">
        本活动与苹果公司无关
        <br/> 借贷有风险，理财需谨慎
        <br/> 宜泉资本提醒您：请勿相信任何承诺投资返现的虚假信息
        <br/> 如对本活动有疑问，请拨打客服电话：400-109-2626
      </div>
    </div>

    <div class="footer">
      <a href="index.html" :class="footerIndex == 1?'active':''">
        <img src="/src/activity/anniversary/images/footer-img1.png" alt="">
      </a>
      <a href="happy.html" :class="footerIndex == 2?'active':''">
        <img src="/src/activity/anniversary/images/footer-img2.png" alt="">
      </a>
      <a href="wish.html" :class="footerIndex == 3?'active':''">
        <img src="/src/activity/anniversary/images/footer-img3.png" alt="">
      </a>
    </div>

    <div class="shadow" v-show="isShowRule || isShowShare"></div>
    <div class="rule-box" v-show="isShowRule">
      <div class="box">
        <img src="/src/activity/anniversary/images/close-icon.png" class="close" @click="isShowRule = false" />
        <h3>活动规则</h3>
        <div class="box-content" v-html="indexRuleData"></div>
      </div>
    </div>

    <div class="share-box" v-show="isShowShare" @click="isShowShare = false">
      <img src="/src/activity/anniversary/images/share_tf.png" alt="">
    </div>
  </div>

</body>
<script src="/js/new_js/vue.min.js"></script>
<script src="/src/activity/anniversary/js/activity.js"></script>
<script>
  util.setCookieHandle(function () {
    vm.activity();
  })
</script>

</html>